
<div class="container-fluid">
    
    <div class="row" style="margin: 0px 10px 0px 80px">
        <div class="">
            <div class="card">
                <ul class="nav nav-tabs" role="tablist">
                    <tabs-header *ngFor="let tab of [1,2,3,4]"></tabs-header>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <ng-content></ng-content>
                </div>
            </div>
        </div>
    </div>

</div>