<div class="slider-area">
  <div class="slider">
      <div id="bg-slider" class="owl-carousel owl-theme">
          <div class="item"><img src="assets/img/slide1/slider-image-1.jpg" alt="Slider Image 1"></div>
          <div class="item"><img src="assets/img/slide1/slider-image-2.jpg" alt="Slider Image 2"></div>
          <div class="item"><img src="assets/img/slide1/slider-image-1.jpg" alt="Slider Image 3"></div>
          <!-- <agm-map [latitude]="lat" [longitude]="lng" (mapClick)="onLocationSelect($event)" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="true">
            <agm-marker 
              [latitude]="code?.latitude" 
              [longitude]="code?.longitude" 
              (markerClick)="clickedMarker('Gdesk', i)" 
              [label]="'DESK'"
              *ngFor="let code of codes">
            </agm-marker>
          </agm-map> -->
      </div>
  </div>
  <div class="slider-content">
      <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
              <h2>Searching For Office Space Just Got Easy</h2>
              <p>1000's of office spaces just a search away!</p>
              <div class="search-form wow pulse" data-wow-delay="0.8s">

                  <form action="" class="form-inline" [formGroup]="deskFilterForm">
                      <button class="btn  toggle-btn" type="button"><i class="fa fa-bars"></i></button>

                      <div class="form-group">
                          <input type="text" class="form-control" placeholder="Key word" formControlName="keyword">
                      </div>
                      <div class="form-group">                                   
                          <select id="lunchBegins" class="selectpicker" data-live-search="true" data-live-search-style="begins" title="Select your city" formControlName="city">
                              <option>New york, CA</option>
                              <option>Paris</option>
                              <option>Casablanca</option>
                              <option>Tokyo</option>
                              <option>Marraekch</option>
                              <option>kyoto , shibua</option>
                          </select>
                      </div>
                      <div class="form-group">                                     
                          <select id="basic" class="selectpicker show-tick form-control" formControlName="status">
                              <option> -Status- </option>
                              <option>Rent </option>
                              <option>Boy</option>
                              <option>used</option>  
                          </select>
                      </div>
                      <button class="btn search-btn" type="submit"><i class="fa fa-search"></i></button>

                      <div style="display: none;" class="search-toggle">
                          <div class="search-row">   
                              <div class="form-group mar-r-20">
                                  <label for="price-range">Price range ($):</label>
                                  <input type="text" class="span2" value="" data-slider-min="0" 
                                        data-slider-max="600" data-slider-step="5" 
                                        data-slider-value="[0,450]" id="price-range" formControlName="price_range"><br />
                                  <b class="pull-left color">2000$</b> 
                                  <b class="pull-right color">100000$</b>
                              </div>
                              <!-- End of  -->  

                              <!-- <div class="form-group mar-l-20">
                                  <label for="property-geo">Property geo (m2) :</label>
                                  <input type="text" class="span2" value="" data-slider-min="0" 
                                        data-slider-max="600" data-slider-step="5" 
                                        data-slider-value="[50,450]" id="property-geo" ><br />
                                  <b class="pull-left color">40m</b> 
                                  <b class="pull-right color">12000m</b>
                              </div> -->
                              <!-- End of  --> 
                          </div>

                          <!-- <div class="search-row">
                              <div class="form-group mar-r-20">
                                  <label for="price-range">Min baths :</label>
                                  <input type="text" class="span2" value="" data-slider-min="0" 
                                        data-slider-max="600" data-slider-step="5" 
                                        data-slider-value="[250,450]" id="min-baths" ><br />
                                  <b class="pull-left color">1</b> 
                                  <b class="pull-right color">120</b>
                              </div>

                              <div class="form-group mar-l-20">
                                  <label for="property-geo">Min bed :</label>
                                  <input type="text" class="span2" value="" data-slider-min="0" 
                                        data-slider-max="600" data-slider-step="5" 
                                        data-slider-value="[250,450]" id="min-bed" ><br />
                                  <b class="pull-left color">1</b> 
                                  <b class="pull-right color">120</b>
                              </div>
                          </div> -->
                        <br>
                        <hr>
                        <h5>Categories</h5>
                        <div class="search-row" formArrayName="categories">  
                            <div class="form-group" *ngFor="let category of deskFilterForm.controls.categories.controls; let i=index" [formGroupName]="i">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" formControlName="checked" [value]="getValue(category.controls).id.value" [checked]="getValue(category.controls).checked.value">{{getValue(category.controls).name.value}}
                                    </label>
                                </div>
                            </div>
                            <!-- End of  -->  
                        </div>
                        <!-- <br>
                        <hr>
                        <div class="search-row" formArrayName="sub_categories">  
                            <div class="form-group" *ngFor="let subCategory of deskFilterForm.controls.sub_categories.controls; let j=index" [formGroupName]="j">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" formControlName="checked" [value]="getValue(subCategory.controls).id.value" [checked]="getValue(subCategory.controls).checked.value">{{getValue(subCategory.controls).name.value}}
                                    </label>
                                </div>
                            </div>
                        </div>-->
                        <br>
                        <hr>
                        <h5>Amenities</h5>
                        <div class="search-row" formArrayName="amenities">  
                            <div class="form-group" *ngFor="let amenity of deskFilterForm.controls.amenities.controls; let k=index" [formGroupName]="k">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" formControlName="checked" [value]="getValue(amenity.controls).id.value" [checked]="getValue(amenity.controls).checked.value">{{getValue(amenity.controls).name.value}}
                                    </label>
                                </div>
                            </div>
                            <!-- End of  -->  
                            <br>
                            <hr>
                        </div>                             
                          <button class="btn search-btn prop-btm-sheaerch" type="submit"><i class="fa fa-search"></i></button>  
                      </div>                    
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>