<!-- 
<div class="panel panel-default col-lg-4 col-md-4 col-sm-12">
    <div class="panel-body" (click)="clickedTab('new')">
        <h3><span class="fa fa-users"></span> New Desk</h3>
        <h1>{{totalListings || 0}} Desk{{(totalListings>1)?'s':''}}</h1>
    </div>
</div>

<div class="panel panel-default col-lg-4 col-md-4 col-sm-12">
    <div class="panel-body" (click)="clickedTab('view')">
        <h3><span class="fa fa-code-fork"></span> View Desk</h3>
        <h1>{{totalListings || 0}} Desk{{(totalListings>1)?'s':''}}</h1>
    </div>
</div>

<div class="panel panel-default col-lg-4 col-md-4 col-sm-12">
    <div class="panel-body" (click)="clickedTab('reviews')">
        <h3><span class="fa fa-star"></span> Desk Reviews</h3>
        <h1>6 Reviews</h1>
    </div>
</div>

-->

<app-page-header [pageTitle]="'Desks'"></app-page-header>

<router-outlet></router-outlet> 