<div class="panel panel-default col-lg-4 col-md-4 col-sm-12">
    <div class="panel-body" (click)="clickedTab('new')">
        <h3><span class="fa fa-users"></span> New Desk</h3>
        <!-- <p align="right">2017-07-01</p> -->
        <h1>{{totalListings || 0}} Desk{{(totalListings>1)?'s':''}}</h1>
        <!-- <p align="right"><a href="">View All</a></p> -->
    </div>
</div>

<div class="panel panel-default col-lg-4 col-md-4 col-sm-12">
    <div class="panel-body" (click)="clickedTab('view')">
        <h3><span class="fa fa-code-fork"></span> View Desk</h3>
        <!-- <p align="right">2017-07-01</p> -->
        <h1>{{totalListings || 0}} Desk{{(totalListings>1)?'s':''}}</h1>
        <!-- <p align="right"><a href="">View All</a></p> -->
    </div>
</div>

<div class="panel panel-default col-lg-4 col-md-4 col-sm-12">
    <div class="panel-body" (click)="clickedTab('reviews')">
        <h3><span class="fa fa-star"></span> Desk Reviews</h3>
        <!-- <p align="right">2017-07-01</p> -->
        <h1>6 Reviews</h1>
        <!-- <p align="right"><a href="">View All</a></p> -->
    </div>
</div>

<router-outlet></router-outlet>

<!-- <div class="panel panel-default col-lg-4 col-md-4 col-sm-12">
    <div class="panel-body">
        <h3><span class="fa fa-star"></span> Total Products</h3>
        <p align="right">2017-07-01</p>
        <h1>76</h1>
        <p align="right"></p>
    </div>
</div>

<div class="panel panel-default col-lg-4 col-md-4 col-sm-12">
    <div class="panel-body">
        <h3><span class="fa fa-code-fork"></span> Total Categories</h3>
        <p align="right">2017-07-01</p>
        <h1>56</h1>
        <p align="right"></p>
    </div>
</div>

<div class="panel panel-default col-lg-4 col-md-4 col-sm-12">
    <div class="panel-body">
        <h3><span class="fa fa-code-fork"></span> Total Sub Categories</h3>
        <p align="right">2017-07-01</p>
        <h1>234</h1>
        <p align="right"></p>
    </div>
</div>

<div class="panel panel-default col-lg-4 col-md-4 col-sm-12">
    <div class="panel-body">
        <h3><span class="fa fa-star"></span> My Products</h3>
        <p align="right">2017-07-01</p>
        <h1>23</h1>
        <p align="right"></p>
    </div>
</div>

<div class="panel panel-default col-lg-4 col-md-4 col-sm-12">
    <div class="panel-body">
        <h3><span class="fa fa-star"></span> My Products</h3>
        <p align="right">2017-07-01</p>
        <h1>45</h1>
        <p align="right"></p>
    </div>
</div> -->