<!--
<div class="container-fluid">
    
    <div class="row" style="margin: 0px 10px 0px 80px">
        <div class="">
            <div class="card">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" [ngClass]="getTabClass('details')" style="pointer-events:none !important">
                        <a href="#details" aria-controls="details" role="tab" data-toggle="tab" (click)="setActiveTab('details');_selectedTab='Details'">Desk Details</a>
                    </li>
                    <li role="presentation" [ngClass]="getTabClass('amenities')" style="pointer-events:none !important">
                        <a href="#amenities" aria-controls="amenities" role="tab" data-toggle="tab" (click)="setActiveTab('amenities');_selectedTab='Amenities'">Desk Amenities</a>
                    </li>
                    <li role="presentation" [ngClass]="getTabClass('pricing')" style="pointer-events:none !important">
                        <a href="#pricing" aria-controls="pricing" role="tab" data-toggle="tab" (click)="setActiveTab('pricing');_selectedTab='Pricing'">Desk Pricing</a>
                    </li>
                    <li role="presentation" [ngClass]="getTabClass('images')" style="pointer-events:none !important">
                        <a href="#images" aria-controls="images" role="tab" data-toggle="tab" (click)="setActiveTab('images');_selectedTab='Images'">Desk Images</a>
                    </li>
                </ul>

                Tab panes
                <div class="tab-content">

                    <div role="tabpanel" [ngClass]="getTabClass('details')" id="details">
                        <div class="row">
                            <h3 align="center">Desk Details</h3>
                            <div class="col-md-12">

                                <form [formGroup]="newDeskForm" (ngSubmit)="addDeskDetails(newDeskForm.get('details').value, newDeskForm.get('details').hasError('validateGroup'))">
                                    
                                    <div formGroupName="details">

                                        <div class="col-md-6">
                                            <label for="name" >Venue Name*</label>
                                            <input type="text" class="form-control" formControlName="name" placeholder="Enter Venue Name">
                                            <br />

                                            <label for="name" >Venue Location*</label>
                                            <input list="cities" class="form-control" formControlName="city" placeholder="Search Venue Location">
                                            <datalist id="cities">
                                                <option [value]="city?.description" *ngFor="let city of cities">{{city?.description}}</option>
                                            </datalist>
                                            <br />
                                            
                                            <label for="name">Category*</label>
                                            <select class="form-control" formControlName="category_id" (change)="getSubCategories(newDeskForm.get('details').value.category_id)">
                                                <option value="">-- Select Category--</option>
                                                <option [value]="category?.id" *ngFor="let category of categories">{{category?.name}}</option>
                                            </select>
                                            <br/>
                            
                                            <label>Sub Category*</label>
                                            <select  class="form-control" formControlName="sub_category_id">
                                                <option value="">-- Select Sub Category --</option>
                                                <option [value]="category?.id" *ngFor="let category of subCategories">{{category?.name}}</option>
                                            </select>
                                            <br/>

                                            <label>Number Of Occupants*</label>
                                            <select  class="form-control" formControlName="number_of_occupants">
                                                <option value="">-- Select Occupants --</option>
                                                <option value="{{occupant}}" *ngFor="let occupant of occupants">{{occupant}}</option>
                                            </select>
                                            <br/>
                            
                                            <button class="btn btn-primary" type="submit" name="btnSave" [disabled]="!newDeskForm.get('details').hasError('validateGroup')">Post</button>
                                        </div>

                                        <div class="col-md-6">  
                                            <label>Opening Hours*</label>
                                            <div class="row" formArrayName="opening_hours">

                                                <div *ngFor="let opening_hour of newDeskForm.controls.details.controls.opening_hours.controls; let i=index" [formGroupName]="i" class="img-thumbnail" style="width:200%">

                                                    <div class="pull-right">
                                                        <span *ngIf="i > 0" 
                                                            (click)="removeOpeningHour(i)"><i style="font-size:15px;cursor:pointer !important" class="glyphicon glyphicon-remove"></i>
                                                        </span>
                                                    </div>

                                                    <label>Day*</label>
                                                    <select  class="form-control pull-left" style="width:25% !important" formControlName="day_id" required="">
                                                        <option value="">-- Select Day --</option>
                                                        <option [value]="day?.id" *ngFor="let day of days">{{day?.name}}</option>
                                                    </select>

                                                    <label>Start Time*</label>
                                                    <select  class="form-control pull-left" style="width:25% !important" formControlName="times_id" required="">
                                                        <option value="">-- Select Start Time --</option>
                                                        <option [value]="time?.id" *ngFor="let time of times">{{time?.time +' '+ time?.period}}</option>
                                                    </select>

                                                    <label>End Time*</label>
                                                    <select  class="form-control pull-left" style="width:25% !important" formControlName="end_time_id" required="">
                                                        <option value="">-- Select End Time --</option>
                                                        <option [value]="time?.id" *ngFor="let time of times">{{time?.time +' '+ time?.period}}</option>
                                                    </select><br><br>
                                                </div>

                                                <a class="btn btn-default pull-right" (click)="addOpeningHour()">Add Opening Hour</a>
                                            </div>
                                            
                                            <label>Select Image</label>
                                            <div class="input-group image-preview">
                                                    
                                                <span class="input-group-btn">
                                                    
                                                    <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                                                        <span class="glyphicon glyphicon-remove"></span> Clear
                                                    </button>
                                                    
                                                    <div class="btn btn-default image-preview-input">
                                                        <input type="file" accept="image/png, image/jpeg, image/gif" [formControlName]="end_time_id">
                                                    </div><br>
                                                </span>
                                            </div> 
                                           
                                            
                                        </div>
                                    </div>

                                </form>

                            </div>
                        </div>
                        
                    </div>

                    <div role="tabpanel" [ngClass]="getTabClass('amenities')" id="amenities">
                        <div class="row">
                            <div class="col-md-12">
                                <form [formGroup]="newDeskForm" (ngSubmit)="addDeskAmenities(newDeskForm.get('amenities').value)">
                                    <span class="input-group-btn" formGroupName="amenities"> 
                                        <div formArrayName="system_amenities" class="col-md-6">
                                            <h3>System Amenities</h3>         
                                            <div class="btn btn-default image-preview-input col-md-3" *ngFor="let amenity of systemAmenities.controls;let j=index" [formGroupName]="j" (click)="updateSystemAmenity(amenity)">
                                                <label>{{getValue(amenity.controls).amenity.value}}</label>
                                                <input type="checkbox" formControlName="checked" [value]="getValue(amenity.controls).id.value" [checked]="getValue(amenity.controls).checked.value">
                                            </div>
                                        </div>

                                        <div formArrayName="user_amenities" class="col-md-6">   
                                            <h3>User Amenities</h3>      
                                            <div class="btn btn-default image-preview-input col-md-3" *ngFor="let amenity of userAmenity.controls;let k=index" [formGroupName]="k" (click)="updateSystemAmenity(amenity)">
                                                <label>{{getValue(amenity.controls).amenity.value}}</label>
                                                <input type="checkbox" formControlName="checked" [value]="getValue(amenity.controls).id.value" [checked]="getValue(amenity.controls).checked.value">
                                            </div>
                                        </div>
                                    </span>

                                    <button class="btn btn-primary" type="submit" name="btnSave">Post</button>
                                </form>
                            </div>
                        </div>

                        <div class="row">
                            <h3 align="center">Add User Amenity</h3>
                            <div class="col-md-12">
                                <form [formGroup]="addAmenityForm" (ngSubmit)="addUserAmenity(addAmenityForm.value, addAmenityForm.valid)">      
                                    <label for="name" >Amenity*</label>
                                    <input type="text" class="form-control" formControlName="amenity" placeholder="Enter Amenity Name">
                                    <br />

                                    <button class="btn btn-primary" type="submit" name="btnSave" [disabled]="!addAmenityForm.valid">Add Amenity</button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div role="tabpanel" [ngClass]="getTabClass('pricing')" id="pricing">
                            <div class="row">
                                <h3 align="center">Desk Pricing</h3>
                                <div class="col-md-12">
                                    <form [formGroup]="newDeskForm" (ngSubmit)="addDeskPricing(newDeskForm.get('pricing').value, newDeskForm.get('pricing').hasError('validateGroup'))">
                                        <div formGroupName="pricing">

                                            <div class="row" formArrayName="periods">
                                                <div *ngFor="let period of newDeskForm.controls.pricing.controls.periods.controls; let l=index" [formGroupName]="l" class="img-thumbnail col-md-9">

                                                    <div class="pull-right">
                                                        <span *ngIf="l > 0" 
                                                            (click)="removePricingPeriod(l)"><i style="font-size:15px;cursor:pointer !important" class="glyphicon glyphicon-remove"></i>
                                                        </span>
                                                    </div>

                                                    <p><label class="pull-left" for="pricing_period_id">Period*</label></p>
                                                    <select  class="form-control pull-left" style="width:25% !important" formControlName="pricing_period_id" required="">
                                                        <option value="">-- Select Pricing Period --</option>
                                                        <option [value]="period?.id" *ngFor="let period of pricingPeriods">{{period?.name}}</option>
                                                    </select>

                                                    <p><label for="price" class="pull-left">Price*</label></p>
                                                    <input type="text" class="form-control pull-left" style="width:25% !important" formControlName="price" placeholder="Enter Price">
                                                    <br />
                                                </div>
                                                <a class="btn btn-default pull-right" (click)="addPricingPeriod()">Add Period</a>
                                            </div>

                                            <button class="btn btn-primary pull-left" type="submit" name="btnSave" [disabled]="!newDeskForm.get('pricing').hasError('validateGroup')">Post</button>

                                        </div>
                                    </form>
                                </div>
                            </div>
                    </div>

                    <div role="tabpanel" [ngClass]="getTabClass('images')" id="images">
                        <div class="row">
                            <form>
                                <div class="btn btn-default image-preview-input">
                                    <input type="file" accept="image/png, image/jpeg, image/gif" multiple (change)="setImages($event)" placeholder="Upload Desk Images..." />
                                </div><br>

                                <div class="row">
                                    <div *ngFor="let preview of previewUrl;let i=index" class="img-thumbnail col-md-3 pull-left">
                                        <div class="pull-right">
                                            <span 
                                                (click)="removeImage(i)"><i style="font-size:15px;cursor:pointer !important" class="glyphicon glyphicon-remove"></i>
                                            </span>
                                        </div>
                                        <img [src]="preview.path" width="300" height="300">
                                    </div>
                                    <br>
                                </div>

                                <div class="row">
                                    <button class="btn btn-primary pull-left" type="button" [disabled]="previewUrl.length==0" (click)="saveDesk()">Add Desk</button>
                                </div>
                                
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
-->

<!-- <div class="page-head"> 
    <div class="container">
        <div class="row">
            <div class="page-head-content">
                <h1 class="page-title">Submit new property</h1>               
            </div>
        </div>
    </div>
</div> -->
<!-- End page header -->

<!-- property area -->
<div class="content-area submit-property" style="background-color: #FCFCFC;">&nbsp;
    <div class="container">
        <div class="clearfix" > 
            <div class="wizard-container"> 

                <div class="wizard-card ct-wizard-orange" id="wizardProperty">
                    <form action="" method="">                        
                        <div class="wizard-header">
                            <h3>
                                <b>Submit</b> YOUR PROPERTY <br>
                                <small>Lorem ipsum dolor sit amet, consectetur adipisicing.</small>
                            </h3>
                        </div>

                        <ul>
                            <li><a href="#step1" data-toggle="tab">Step 1 </a></li>
                            <li><a href="#step2" data-toggle="tab">Step 2 </a></li>
                            <li><a href="#step3" data-toggle="tab">Step 3 </a></li>
                            <li><a href="#step4" data-toggle="tab">Finished </a></li>
                        </ul>

                        <div class="tab-content">

                            <div class="tab-pane" id="step1">
                                <div class="row p-b-15  ">
                                    <h4 class="info-text"> Let's start with the basic information (with validation)</h4>
                                    <div class="col-sm-4 col-sm-offset-1">
                                        <div class="picture-container">
                                            <div class="picture">
                                                <img src="assets/img/default-property.jpg" class="picture-src" id="wizardPicturePreview" title=""/>
                                                <input type="file" id="wizard-picture">
                                            </div> 
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Property name <small>(required)</small></label>
                                            <input name="propertyname" type="text" class="form-control" placeholder="Super villa ...">
                                        </div>

                                        <div class="form-group">
                                            <label>Property price <small>(required)</small></label>
                                            <input name="propertyprice" type="text" class="form-control" placeholder="3330000">
                                        </div> 
                                        <div class="form-group">
                                            <label>Telephone <small>(empty if you wanna use default phone number)</small></label>
                                            <input name="phone" type="text" class="form-control" placeholder="+1 473 843 7436">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--  End step 1 -->

                            <div class="tab-pane" id="step2">
                                <h4 class="info-text"> How much your Property is Beautiful ? </h4>
                                <div class="row">
                                    <div class="col-sm-12"> 
                                        <div class="col-sm-12"> 
                                            <div class="form-group">
                                                <label>Property Description :</label>
                                                <textarea name="discrition" class="form-control" ></textarea>
                                            </div> 
                                        </div> 
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Property State :</label>
                                                <select id="lunchBegins" class="selectpicker" data-live-search="true" data-live-search-style="begins" title="Select your city">
                                                    <option>Seoul</option>
                                                    <option>Paris</option>
                                                    <option>Casablanca</option>
                                                    <option>Tokyo</option>
                                                    <option>Marraekch</option>
                                                    <option>kyoto , shibua</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Property City :</label>
                                                <select id="lunchBegins" class="selectpicker" data-live-search="true" data-live-search-style="begins" title="Select your city">
                                                    <option>New york, CA</option>
                                                    <option>Paris</option>
                                                    <option>Casablanca</option>
                                                    <option>Tokyo</option>
                                                    <option>Marraekch</option>
                                                    <option>kyoto , shibua</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Property Statue  :</label>
                                                <select id="basic" class="selectpicker show-tick form-control">
                                                    <option> -Status- </option>
                                                    <option>Rent </option>
                                                    <option>Boy</option>
                                                    <option>used</option>  

                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Property Statue  :</label>
                                                <select id="basic" class="selectpicker show-tick form-control">
                                                    <option> -Status- </option>
                                                    <option>Rent </option>
                                                    <option>Boy</option>
                                                    <option>used</option>  

                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 padding-top-15">                                                   
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="property-geo">Min bed :</label>
                                                <input type="text" class="span2" value="" data-slider-min="0" 
                                                       data-slider-max="600" data-slider-step="5" 
                                                       data-slider-value="[250,450]" id="min-bed" ><br />
                                                <b class="pull-left color">1</b> 
                                                <b class="pull-right color">120</b>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">

                                            <div class="form-group">
                                                <label for="price-range">Min baths :</label>
                                                <input type="text" class="span2" value="" data-slider-min="0" 
                                                       data-slider-max="600" data-slider-step="5" 
                                                       data-slider-value="[250,450]" id="min-baths" ><br />
                                                <b class="pull-left color">1</b> 
                                                <b class="pull-right color">120</b>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">

                                            <div class="form-group">
                                                <label for="property-geo">Property geo (m2) :</label>
                                                <input type="text" class="span2" value="" data-slider-min="0" 
                                                       data-slider-max="600" data-slider-step="5" 
                                                       data-slider-value="[50,450]" id="property-geo" ><br />
                                                <b class="pull-left color">40m</b> 
                                                <b class="pull-right color">12000m</b>
                                            </div>
                                        </div>   
                                    </div>
                                    <div class="col-sm-12 padding-top-15">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"> Swimming Pool
                                                    </label>
                                                </div>
                                            </div>
                                        </div> 
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"> 2 Stories
                                                    </label>
                                                </div>
                                            </div>
                                        </div>                                                 
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"> Emergency Exit
                                                    </label>
                                                </div>
                                            </div>
                                        </div>                                                 
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"> Fire Place 
                                                    </label>
                                                </div>
                                            </div>
                                        </div> 
                                    </div> 
                                    <div class="col-sm-12 padding-bottom-15">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"> Laundry Room
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"> Jog Path
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"> Ceilings
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"> Dual Sinks
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </div>
                            <!-- End step 2 -->

                            <div class="tab-pane" id="step3">                                        
                                <h4 class="info-text">Give us somme images and videos ? </h4>
                                <div class="row">  
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="property-images">Chose Images :</label>
                                            <input class="form-control" type="file" id="property-images">
                                            <p class="help-block">Select multipel images for your property .</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6"> 
                                        <div class="form-group">
                                            <label for="property-video">Property video :</label>
                                            <input class="form-control" value="" placeholder="http://www.youtube.com, http://vimeo.com" name="property_video" type="text">
                                        </div> 

                                        <div class="form-group">
                                            <input class="form-control" value="" placeholder="http://www.youtube.com, http://vimeo.com" name="property_video" type="text">
                                        </div>

                                        <div class="form-group">
                                            <input class="form-control" value="" placeholder="http://www.youtube.com, http://vimeo.com" name="property_video" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--  End step 3 -->


                            <div class="tab-pane" id="step4">                                        
                                <h4 class="info-text"> Finished and submit </h4>
                                <div class="row">  
                                    <div class="col-sm-12">
                                        <div class="">
                                            <p>
                                                <label><strong>Terms and Conditions</strong></label>
                                                By accessing or using  GARO ESTATE services, such as 
                                                posting your property advertisement with your personal 
                                                information on our website you agree to the
                                                collection, use and disclosure of your personal information 
                                                in the legal proper manner
                                            </p>

                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" /> <strong>Accept termes and conditions.</strong>
                                                </label>
                                            </div> 

                                        </div> 
                                    </div>
                                </div>
                            </div>
                            <!--  End step 4 -->

                        </div>

                        <div class="wizard-footer">
                            <div class="pull-right">
                                <input type='button' class='btn btn-next btn-primary' name='next' value='Next' />
                                <input type='button' class='btn btn-finish btn-primary ' name='finish' value='Finish' />
                            </div>

                            <div class="pull-left">
                                <input type='button' class='btn btn-previous btn-default' name='previous' value='Previous' />
                            </div>
                            <div class="clearfix"></div>                                            
                        </div>	
                    </form>
                </div>
                <!-- End submit form -->
            </div> 
        </div>
    </div>
</div>