
<div class="container-fluid">
    
    <div class="row" style="margin: 0px 10px 0px 80px">
        <div class="">
            <div class="card">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" [ngClass]="getTabClass('details')" style="pointer-events:none !important">
                        <a href="#details" aria-controls="details" role="tab" data-toggle="tab" (click)="setActiveTab('details');_selectedTab='Details'">Desk Details</a>
                    </li>
                    <li role="presentation" [ngClass]="getTabClass('amenities')" style="pointer-events:none !important">
                        <a href="#amenities" aria-controls="amenities" role="tab" data-toggle="tab" (click)="setActiveTab('amenities');_selectedTab='Amenities'">Desk Amenities</a>
                    </li>
                    <li role="presentation" [ngClass]="getTabClass('pricing')" style="pointer-events:none !important">
                        <a href="#pricing" aria-controls="pricing" role="tab" data-toggle="tab" (click)="setActiveTab('pricing');_selectedTab='Pricing'">Desk Pricing</a>
                    </li>
                    <li role="presentation" [ngClass]="getTabClass('images')" style="pointer-events:none !important">
                        <a href="#images" aria-controls="images" role="tab" data-toggle="tab" (click)="setActiveTab('images');_selectedTab='Images'">Desk Images</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">

                    <div role="tabpanel" [ngClass]="getTabClass('details')" id="details">
                        <div class="row">
                            <h3 align="center">Desk Details</h3>
                            <div class="col-md-12">

                                <form [formGroup]="newDeskForm" (ngSubmit)="addDeskDetails(newDeskForm.get('details').value, newDeskForm.get('details').hasError('validateGroup'))">
                                    
                                    <div formGroupName="details">

                                        <div class="col-md-6">
                                            <label for="name" >Venue Name*</label>
                                            <input type="text" class="form-control" formControlName="name" placeholder="Enter Venue Name">
                                            <br />

                                            <label for="name" >Venue Location*</label>
                                            <input list="cities" class="form-control" formControlName="city" placeholder="Search Venue Location">
                                            <datalist id="cities">
                                                <option [value]="city" *ngFor="let city of cities">{{city?.description}}</option>
                                            </datalist>
                                            <br />
                                            
                                            <label for="name">Category*</label>
                                            <select class="form-control" formControlName="category_id" (change)="getSubCategories(newDeskForm.get('details').value.category_id)">
                                                <option value="">-- Select Category--</option>
                                                <option [value]="category?.id" *ngFor="let category of categories">{{category?.name}}</option>
                                            </select>
                                            <br/>
                            
                                            <label>Sub Category*</label>
                                            <select  class="form-control" formControlName="sub_category_id">
                                                <option value="">-- Select Sub Category --</option>
                                                <option [value]="category?.id" *ngFor="let category of subCategories">{{category?.name}}</option>
                                            </select>
                                            <br/>

                                            <label>Number Of Occupants*</label>
                                            <select  class="form-control" formControlName="number_of_occupants">
                                                <option value="">-- Select Occupants --</option>
                                                <option value="{{occupant}}" *ngFor="let occupant of occupants">{{occupant}}</option>
                                            </select>
                                            <br/>
                            
                                            <button class="btn btn-primary" type="submit" name="btnSave" [disabled]="!newDeskForm.get('details').hasError('validateGroup')">Post</button>
                                        </div>

                                        <div class="col-md-6">  
                                            <label>Opening Hours*</label>
                                            <div class="row" formArrayName="opening_hours">

                                                <div *ngFor="let opening_hour of newDeskForm.controls.details.controls.opening_hours.controls; let i=index" [formGroupName]="i" class="img-thumbnail" style="width:200%">

                                                    <div class="pull-right">
                                                        <span *ngIf="i > 0" 
                                                            (click)="removeOpeningHour(i)"><i style="font-size:15px;cursor:pointer !important" class="glyphicon glyphicon-remove"></i>
                                                        </span>
                                                    </div>

                                                    <!-- <label>Day*</label> -->
                                                    <select  class="form-control pull-left" style="width:25% !important" formControlName="day_id" required="">
                                                        <option value="">-- Select Day --</option>
                                                        <option [value]="day?.id" *ngFor="let day of days">{{day?.name}}</option>
                                                    </select>

                                                    <!-- <label>Start Time*</label> -->
                                                    <select  class="form-control pull-left" style="width:25% !important" formControlName="times_id" required="">
                                                        <option value="">-- Select Start Time --</option>
                                                        <option [value]="time?.id" *ngFor="let time of times">{{time?.time +' '+ time?.period}}</option>
                                                    </select>

                                                    <!-- <label>End Time*</label> -->
                                                    <select  class="form-control pull-left" style="width:25% !important" formControlName="end_time_id" required="">
                                                        <option value="">-- Select End Time --</option>
                                                        <option [value]="time?.id" *ngFor="let time of times">{{time?.time +' '+ time?.period}}</option>
                                                    </select><br><br>
                                                </div>

                                                <a class="btn btn-default pull-right" (click)="addOpeningHour()">Add Opening Hour</a>
                                            </div>
                                            
                                            <!-- <label>Select Image</label>
                                            <div class="input-group image-preview">
                                                    
                                                <span class="input-group-btn">
                                                    
                                                    <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                                                        <span class="glyphicon glyphicon-remove"></span> Clear
                                                    </button>
                                                    
                                                    <div class="btn btn-default image-preview-input">
                                                        <input type="file" accept="image/png, image/jpeg, image/gif" [formControlName]="end_time_id">
                                                    </div><br>
                                                </span>
                                            </div> 
                                            -->
                                            
                                        </div>
                                    </div>

                                </form>

                            </div>
                        </div>
                        
                    </div>

                    <div role="tabpanel" [ngClass]="getTabClass('amenities')" id="amenities">
                        <div class="row">
                            <!-- <h3 align="center">Desk Amenities</h3> -->
                            <div class="col-md-12">
                                <form [formGroup]="newDeskForm" (ngSubmit)="addDeskAmenities(newDeskForm.get('amenities').value)">
                                    <span class="input-group-btn" formGroupName="amenities"> 
                                        <div formArrayName="system_amenities" class="col-md-6">
                                            <h3>System Amenities</h3>         
                                            <div class="btn btn-default image-preview-input col-md-3" *ngFor="let amenity of systemAmenities.controls;let j=index" [formGroupName]="j" (click)="updateSystemAmenity(amenity)">
                                                <label>{{getValue(amenity.controls).amenity.value}}</label>
                                                <input type="checkbox" formControlName="checked" [value]="getValue(amenity.controls).id.value" [checked]="getValue(amenity.controls).checked.value">
                                            </div>
                                        </div>

                                        <div formArrayName="user_amenities" class="col-md-6">   
                                            <h3>User Amenities</h3>      
                                            <div class="btn btn-default image-preview-input col-md-3" *ngFor="let amenity of userAmenity.controls;let k=index" [formGroupName]="k" (click)="updateSystemAmenity(amenity)">
                                                <label>{{getValue(amenity.controls).amenity.value}}</label>
                                                <input type="checkbox" formControlName="checked" [value]="getValue(amenity.controls).id.value" [checked]="getValue(amenity.controls).checked.value">
                                            </div>
                                        </div>
                                    </span>

                                    <button class="btn btn-primary" type="submit" name="btnSave">Post</button>
                                </form>
                            </div>
                        </div>

                        <div class="row">
                            <h3 align="center">Add User Amenity</h3>
                            <div class="col-md-12">
                                <form [formGroup]="addAmenityForm" (ngSubmit)="addUserAmenity(addAmenityForm.value, addAmenityForm.valid)">      
                                    <label for="name" >Amenity*</label>
                                    <input type="text" class="form-control" formControlName="amenity" placeholder="Enter Amenity Name">
                                    <br />

                                    <button class="btn btn-primary" type="submit" name="btnSave" [disabled]="!addAmenityForm.valid">Add Amenity</button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div role="tabpanel" [ngClass]="getTabClass('pricing')" id="pricing">
                            <div class="row">
                                <h3 align="center">Desk Pricing</h3>
                                <div class="col-md-12">
                                    <form [formGroup]="newDeskForm" (ngSubmit)="addDeskPricing(newDeskForm.get('pricing').value, newDeskForm.get('pricing').hasError('validateGroup'))">
                                        <div formGroupName="pricing">

                                            <div class="row" formArrayName="periods">
                                                <div *ngFor="let period of newDeskForm.controls.pricing.controls.periods.controls; let l=index" [formGroupName]="l" class="img-thumbnail col-md-9">

                                                    <div class="pull-right">
                                                        <span *ngIf="l > 0" 
                                                            (click)="removePricingPeriod(l)"><i style="font-size:15px;cursor:pointer !important" class="glyphicon glyphicon-remove"></i>
                                                        </span>
                                                    </div>

                                                    <!-- <p><label class="pull-left" for="pricing_period_id">Period*</label></p> -->
                                                    <select  class="form-control pull-left" style="width:25% !important" formControlName="pricing_period_id" required="">
                                                        <option value="">-- Select Pricing Period --</option>
                                                        <option [value]="period?.id" *ngFor="let period of pricingPeriods">{{period?.name}}</option>
                                                    </select>

                                                    <!-- <p><label for="price" class="pull-left">Price*</label></p> -->
                                                    <input type="text" class="form-control pull-left" style="width:25% !important" formControlName="price" placeholder="Enter Price">
                                                    <br />
                                                </div>
                                                <a class="btn btn-default pull-right" (click)="addPricingPeriod()">Add Period</a>
                                            </div>

                                            <button class="btn btn-primary pull-left" type="submit" name="btnSave" [disabled]="!newDeskForm.get('pricing').hasError('validateGroup')">Post</button>

                                        </div>
                                    </form>
                                </div>
                            </div>
                    </div>

                    <div role="tabpanel" [ngClass]="getTabClass('images')" id="images">
                        <div class="row">
                            <form>
                                <div class="btn btn-default image-preview-input">
                                    <input type="file" accept="image/png, image/jpeg, image/gif" multiple (change)="setImages($event)" placeholder="Upload Desk Images..." />
                                </div><br>

                                <div class="row">
                                    <div *ngFor="let preview of previewUrl;let i=index" class="img-thumbnail col-md-3 pull-left">
                                        <div class="pull-right">
                                            <span 
                                                (click)="removeImage(i)"><i style="font-size:15px;cursor:pointer !important" class="glyphicon glyphicon-remove"></i>
                                            </span>
                                        </div>
                                        <img [src]="preview.path" width="300" height="300">
                                    </div>
                                    <br>
                                </div>

                                <div class="row">
                                    <button class="btn btn-primary pull-left" type="button" [disabled]="previewUrl.length==0" (click)="saveDesk()">Add Desk</button>
                                </div>
                                
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>