<!--
<div class="container body">

    <div class="main_container">
    
    <dash-header></dash-header>

    <div class="right_col" role="main">
        <div class="modal fade" id="logout">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal">&times;</button>
                        
                        <h4 class="modal-title"><span class="glyphicon glyphicon-off"></span> Log Out</h4>
                    </div>
                    <div class="modal-body">
                        <p><b>Are You Sure?</b></p>                      
                    </div>
                    
                    <div class="modal-footer">
                        <form method="post">
                            <button type="submit" class="btn btn-success" name="btnLogout">Yes</button> <button class="btn btn-danger" data-dismiss="modal">No</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <router-outlet></router-outlet>

    <dash-footer></dash-footer>

    </div>

</div>

</div>

<div id="custom_notifications" class="custom-notifications dsp_none">
<ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
</ul>
<div class="clearfix"></div>
<div id="notif-group" class="tabbed_notifications"></div>
</div>
-->

<!-- Start Preloader -->
<app-preloader></app-preloader>
<!-- End Preloader -->

<!-- Start of nav bar -->
<app-nav [navEnabled]="true" [authEnabled]="false" [navigation]="nav"></app-nav>
<!-- End of nav bar -->

<router-outlet></router-outlet>